
/* ---------------------------------------- */

$global-font: sans;

$bg-color: #fff;
$pane-color: #ccc;

$nav-text-color: #000;
$nav-sel-color: #0b6;
$nav-desel-color: #888;
$nav-sel-hover-color: lighten($nav-desel-color, 10);

$above:            10%;
$pane-width:       640px;
$pane-height:      480px;
$pane-right:       100px;
$pane-left:        180px;
$head-height:      3em;
$nav-item-width:   130px;

/* ---------------------------------------- */

body {
    background: $bg-color;
    margin: auto;
    font-family: $global-font;
}

.pane {
    margin: auto;
    margin-top: $above;
    width: $pane-width + $pane-left + $pane-right;
}

/* ---------------------------------------- */

header {
    margin-left: $pane-left;
    height: $head-height;
}

/* ---------------------------------------- */

nav {
    float: left;
    width: $pane-left;

    ul {
        list-style: none;
        display: block;
        padding: 0;
        float: right;
    }

    .item {
        background: $nav-desel-color;
        color: $nav-text-color;
        display: block;
        width: $nav-item-width;
        text-align: right;
        padding: 0.2em;
        margin-bottom: 0.5em;
    }
    a {
        text-decoration: none;
    }

    .item:hover {
        background: $nav-sel-hover-color;
    }

    .item.sel {
        background: $nav-sel-color;
    }
}

/* ---------------------------------------- */

section {
    background: $pane-color;
    float: left;
    width: $pane-width;
    height: $pane-height;

    article {
        position: relative;
        top: -$pane-height;
        z-index: 2;
    }

    .decorations {
        height: $pane-height;
    }

    .leftbar {
        z-index: 1;
        background-color: $nav-sel-color;
        width: 0.8em;
        height: 100%;
        display: block;
    }
}

article {
    padding-left: 1.3em;

    h1 {}
    p {}

    pre {
        background: #888;
        width: $pane-width - 300px;
        border: 1px solid black;
        border-radius: 3px 3px 3px 3px;
        padding: 1em;
    }
}
